body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

nav a {
  color: #00ffff;
  text-decoration: none;
}

.bobinas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
  align-items: center;
}

.linha {
  display: flex;
  gap: 15px;
  font-size: 2.5rem;
  justify-content: center;
}

button {
  padding: 10px 25px;
  font-size: 1.2rem;
  background-color: #ffcc00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #ffaa00;
}

footer {
  margin-top: 50px;
  font-size: 0.9rem;
  color: #ccc;
}
